  <div class="card">
    <h1><%= @flat["name"] %> </h3>
    <img src="<%= @flat["imageUrl"] %>" alt="photo">
    <p><%= @flat["price"] %> <%= @flat["priceCurrency"] %></p>

  </div>
<%# <%= @flat %>

<%= link_to "back to home", root_path %>
